@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 4em;
}

header h1 {
  font-size: 4rem;
  font-family: "Lobster", sans-serif;
}

h1,
h2 {
  color: #051c33;
}

form {
  display: flex;
  width: 460px;
  margin: 0 auto 32px;
}
form input.search {
  width: 100%;
  padding: 10px 15px;
  background-color: #edeff0;

  font-size: 1rem;
  border: 3px solid #d7dbdf;
  border-right: none;
  border-radius: 5.6px 0 0 5.6px;
}

form button.submit-btn {
  padding: 0 15px;
  border-radius: 0 5.6px 5.6px 0;
  border: none;
  cursor: pointer;
}

button.submit-btn.active {
  background-color: #051c33;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav ul li {
  width: 100px;
  margin: 10px;
}

nav ul li a {
  display: block;
  background-color: #051c33;
  border-radius: 3px;
  padding: 5px;

  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  color: #fff;
  text-decoration: none;
}

.gallery h2 {
  font-size: 2rem;
  margin: 52px 0 40px;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
}
